{% extends 'adminpanel/index.html' %}
{% block content %}
<div class="wlsm-main-header card col">
	<div class="school_header">
		<h1 class="h3 text-center">
			<i class="fa fa-graduation-cap text-light"></i>
			{{skool}}<small class="wlsm_text_secondary">{{year}}</small>

					</h1>
			</div>

<div class="mt-3 text-center wlsm-section-heading-block">
			<span class="wlsm-section-heading-box">
				<span class="wlsm-section-heading">
					Suppliers
				</span>
			</span>
    <span class="float-md-right">
        <a href ="{% url 'supplier_create' %}" class="btn btn-sm btn-outline-light">
                       New Supplier</a>
    </span>
</div>
    </div>
<br>
{% if data %}
<table class="table">
  <thead class="table-dark" align ="center">
    <tr>
      <th>Suplier Name</th>
      <th>Contact_No </th>
      <th>Address</th>
      <th>School</th>

      <th>Action</th>
    </tr>
  </thead>

  <tbody>


   {% for sup in data %}

    <tr align="center">
      <td>{{sup.name}}</td>
      <td>{{sup.contact_number}}</td>
      <td>{{sup.address}}</td>
      <td>{{sup.Sup_school}}</td>

        <td>
          <form action="{% url 'supplier_update' sup.id %}" method="" class="d-inline">
              {% csrf_token %}
               <input type="submit" class="btn btn-info" value="Update">
          </form>
 {% if request.user.groups.all.0.name == "admin" or request.user.groups.all.0.name == "superadmin" %}
            <form action="{% url 'supplier_delete' sup.id %}" method="" class="d-inline">
              {% csrf_token %}
               <input type="submit" class="btn btn-danger" value="Delete">
          </form>
  {% endif %}
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% else %}
      <div class="alert alert-danger" role="alert">
No Record  are available to Show
</div>
{% endif %}
{% endblock %}

