<!DOCTYPE html>
<html lang="zxx" id="pageroot">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <title>Intro | Multipurpose Tailwind CSS Admin Dashboard Template </title>
    <link rel="stylesheet" href="assets/css/app.css?v110">
</head>

<body class="bg-white dark:bg-gray-1000 font-body text-sm leading-relaxed text-slate-600 dark:text-slate-300 font-normal min-w-[320px]">
    <div class="nk-app-root">
        <div class="nk-main">
            <div class="nk-wrap flex flex-col min-h-screen">
                <div class="group/nav absolute [&.has-fixed]:fixed inset-x-0 top-0 py-6 [&.has-fixed]:py-3 z-[1000] dark sticky-nav [&.has-fixed]:bg-white bg-opacity-90 [&.has-fixed]:shadow transition-all duration-300">
                    <div class="container px-4 md:px-2 lg:max-w-[980px] xl:max-w-[1200px] 2xl:max-w-[1320px]">
                        <div class="flex justify-between items-center">
                            <div class="relative flex flex-shrink-0">
                                <a href="index.html" class="relative inline-block transition-opacity duration-300 h-7 sm:h-9 group-[&.is-compact:not(.has-hover)]/sidebar:opacity-0">
                                    <img class="h-full opacity-0 dark:opacity-100 group-[.has-fixed]/nav:opacity-0" src="images/logo.png" srcset="images/logo2x.png 2x" alt="logo">
                                    <img class="h-full opacity-100 dark:opacity-0 group-[.has-fixed]/nav:opacity-100 absolute start-0 top-0" src="images/logo-dark.png" srcset="images/logo-dark2x.png 2x" alt="logo">
                                </a>
                            </div>
                            <div class="inline-flex items-center ">
                                <ul class="flex flex-wrap items-center">
                                    <li class="inline-flex">
                                        <a href="#intro-demos" class="scroll-to-section inline-block text-sm/5 font-normal text-slate-200 group-[.has-fixed]/nav:text-slate-700 hover:text-primary-600 group-[.has-fixed]/nav:hover:text-primary-600 py-1 sm:py-3 px-1.5 xs:px-3 sm:px-4 transition-all duration-300">Previews </a>
                                    </li>
                                    <li class="inline-flex">
                                        <a href="#intro-apps" class="scroll-to-section inline-block text-sm/5 font-normal text-slate-200 group-[.has-fixed]/nav:text-slate-700 hover:text-primary-600 group-[.has-fixed]/nav:hover:text-primary-600 py-3 px-1.5 xs:px-3 sm:px-4 transition-all duration-300">Apps</a>
                                    </li>
                                    <li class="hidden sm:inline-flex">
                                        <a href="#intro-features" class="scroll-to-section inline-block text-sm/5 font-normal text-slate-200 group-[.has-fixed]/nav:text-slate-700 hover:text-primary-600 group-[.has-fixed]/nav:hover:text-primary-600 py-3 px-1.5 xs:px-3 sm:px-4 transition-all duration-300">Features</a>
                                    </li>
                                    <li class="inline-flex">
                                        <a href="#" target="_blank" class="nav-link inline-block text-sm/5 font-normal text-slate-200 group-[.has-fixed]/nav:text-slate-700 hover:text-primary-600 group-[.has-fixed]/nav:hover:text-primary-600 py-3 px-1.5 xs:px-3 sm:px-4 transition-all duration-300">Docs</a>
                                    </li>
                                </ul>
                                <div class="pl-5 lg:pl-8 hidden sm:block">
                                    <a href="https://themeforest.net/user/softnio/portfolio" class="relative inline-flex items-center text-center align-middle text-sm font-bold leading-4.5 rounded px-5 py-2 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-28 lg:pt-48 pb-16 md:pb-24 overflow-hidden bg-[linear-gradient(357deg,_#030A17_2.17%,_#131F34_95.72%)]">
                    <div class="container px-4 md:px-2 lg:max-w-[980px] xl:max-w-[1200px] 2xl:max-w-[1320px]">
                        <div class="flex flex-wrap justify-between items-center lg:flex-row-reverse -mx-4 -my-3 ms:-my-5">
                            <div class="w-full lg:w-5/12  2xl:w-1/2 px-4 py-3 sm:py-5">
                                <div class="lg:-me-24 lg:-ms-18 xl:-ms-12 2xl:ms-0">
                                    <img src="images/landing/intro-cover.png" alt="">
                                </div>
                            </div>
                            <div class="w-full lg:w-7/12 2xl:w-1/2 px-4 py-3 sm:py-5">
                                <div class="text-center lg:text-start lg:pe-12">
                                    <div class="flex items-center gap-x-3">
                                        <span class="relative inline-flex rounded-md px-2 md:px-3 md:py-1 bg-gradient-to-r from-primary-600 to-primary-800 text-white text-xs font-medium leading-4.5 tracking-snug whitespace-nowrap align-middle">v1.1.0</span>
                                        <span class="text-yellow-600 font-bold tracking-wide">React.js Version Added</span>
                                    </div>
                                    <h1 class="text-2xl/tight sm:text-4xl/tight xl:text-5xl/tight font-bold text-white pt-5 pb-7"> Dashwind - Multipurpose Tailwind CSS Admin Dashboard Template </h1>
                                    <p class="text-base/7 text-slate-300"> A powerful multipurpose Tailwind CSS Admin Dashboard template, which contains collections of well-designed elements and components. Dashwind template helps you to create stunning dashboard quickly and easily. </p>
                                    <ul class="flex flex-wrap justify-center lg:justify-start -m-2 sm:-m-3 pt-7">
                                        <li class="p-2 sm:p-3">
                                            <a href="" class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 active:bg-primary-800 transition-all duration-300">Get DashWind Now</a>
                                        </li>
                                        <li class="p-2 sm:p-3">
                                            <a href="#intro-demos" class="scroll-to-section relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-red-600 text-white bg-red-600 hover:bg-red-700 active:bg-red-800 transition-all duration-300">Check Out Demo</a>
                                        </li>
                                    </ul>
                                    <div class="flex flex-wrap justify-center lg:justify-start gap-4 pt-12">
                                        <div class="px-4 py-3 rounded-lg border border-dashed border-slate-600 bg-white bg-opacity-[2%]">
                                            <h6 class="text-xl/6 font-bold text-white pb-1">4+</h6>
                                            <span class="text-base/5 text-slate-400">Applications</span>
                                        </div>
                                        <div class="px-4 py-3 rounded-lg border border-dashed border-slate-600 bg-white bg-opacity-[2%]">
                                            <h6 class="text-xl/6 font-bold text-white pb-1">5+</h6>
                                            <span class="text-base/5 text-slate-400">Dashboard</span>
                                        </div>
                                        <div class="px-4 py-3 rounded-lg border border-dashed border-slate-600 bg-white bg-opacity-[2%]">
                                            <h6 class="text-xl/6 font-bold text-white pb-1">50+</h6>
                                            <span class="text-base/5 text-slate-400">Components</span>
                                        </div>
                                        <div class="px-4 py-3 rounded-lg border border-dashed border-slate-600 bg-white bg-opacity-[2%]">
                                            <h6 class="text-xl/6 font-bold text-white pb-1">1100+</h6>
                                            <span class="text-base/5 text-slate-400">Handmade Icon</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-16 lg:py-24 xl:py-28 2xl:py-32 bg-gray-100 overflow-hidden" id="intro-demos">
                    <div class="container px-4 md:px-2 lg:max-w-[980px] xl:max-w-[1200px] 2xl:max-w-[1320px]">
                        <div class="flex justify-center text-center pb-12 lg:pb-17">
                            <div class="w-full lg:w-9/12 xl:w-7/12">
                                <span class="relative inline-flex rounded-md mb-3 px-2 md:px-3 md:py-1 bg-gradient-to-r from-primary-600 to-primary-800 text-white text-xs font-medium leading-4.5 tracking-snug whitespace-nowrap align-middle">React.js Version Added</span>
                                <h2 class="text-2xl/tight sm:text-4xl/tight xl:text-5xl/tight font-bold text-slate-700 pb-3 sm:pb-5"> Pre-built Dashboard </h2>
                                <p class="text-slate-600 text-base/6 sm:text-xl/8">Contains a collection of well-designed dashboards close to real-world examples that will save your time and effort.</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-center -m-4 lg:-my-6">
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white rounded-xl p-4 block shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)] group">
                                    <img class="w-full rounded-md border border-slate-100" src="images/landing/dashboard-1d.jpg" srcset="images/landing/dashboard-1d2x.jpg 2x" alt="Ecommerce Dashboard">
                                    <h6 class="font-bold text-lg/5.5 text-slate-700 pt-4 text-center">Ecommerce Dashboard</h6>
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/index.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/home">React</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white rounded-xl p-4 block shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)] group">
                                    <img class="w-full rounded-md border border-slate-100" src="images/landing/dashboard-2d.jpg" srcset="images/landing/dashboard-2d2x.jpg 2x" alt="AI Copywriter Dashboard">
                                    <h6 class="font-bold text-lg/5.5 text-slate-700 pt-4 text-center">AI Copywriter Dashboard</h6>
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/index-copywriter.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/copywriter">React</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white rounded-xl p-4 block shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)] group">
                                    <img class="w-full rounded-md border border-slate-100" src="images/landing/dashboard-3d.jpg" srcset="images/landing/dashboard-3d2x.jpg 2x" alt="Sales Dashboard">
                                    <h6 class="font-bold text-lg/5.5 text-slate-700 pt-4 text-center">Sales Dashboard</h6>
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/index-sales.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/sales">React</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white rounded-xl p-4 block shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)] group">
                                    <img class="w-full rounded-md border border-slate-100" src="images/landing/dashboard-4d.jpg" srcset="images/landing/dashboard-4d2x.jpg 2x" alt="Crypto Dashboard">
                                    <h6 class="font-bold text-lg/5.5 text-slate-700 pt-4 text-center">Crypto Dashboard</h6>
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/index-crypto.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/crypto">React</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white rounded-xl p-4 block shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)] group">
                                    <img class="w-full rounded-md border border-slate-100" src="images/landing/dashboard-5d.jpg" srcset="images/landing/dashboard-5d2x.jpg 2x" alt="Analytics Dashboard">
                                    <h6 class="font-bold text-lg/5.5 text-slate-700 pt-4 text-center">Analytics Dashboard</h6>
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/index-analytics.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/analytics">React</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white rounded-xl p-4 block shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)] group">
                                    <img class="w-full rounded-md border border-slate-100" src="images/landing/dashboard-6d.jpg" srcset="images/landing/dashboard-6d2x.jpg 2x" alt="Invest Dashboard">
                                    <h6 class="font-bold text-lg/5.5 text-slate-700 pt-4 text-center">Invest Dashboard</h6>
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/index-invest.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/invest">React</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-16 lg:py-24 xl:py-28 2xl:py-32 bg-gradient-to-br from-primary-900 to-purple-950 overflow-hidden" id="intro-apps">
                    <div class="container px-4 md:px-2 lg:max-w-[980px] xl:max-w-[1200px] 2xl:max-w-[1320px]">
                        <div class="flex justify-center text-center pb-12 lg:pb-17">
                            <div class="w-full lg:w-9/12 xl:w-7/12">
                                <h2 class="text-2xl/tight sm:text-4xl/tight xl:text-5xl/tight font-bold text-white pb-3 sm:pb-5"> Featured Application </h2>
                                <p class="text-slate-200 text-base/6 sm:text-xl/8">Dashwind Admin Template additionally provides 5 different applications which enable you to get started and build your applications faster.</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-center -m-4 lg:-my-6">
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white bg-opacity-10 rounded-xl p-4 block group">
                                    <img class="w-full rounded-md" src="images/landing/apps/messages.jpg" srcset="images/landing/apps/messages2x.jpg 2x" alt="Messages">
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-messages.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-messages">React</a></li>
                                    </ul>
                                    <h6 class="font-bold text-lg/5.5 text-white pt-4 text-center">Messages</h6>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white bg-opacity-10 rounded-xl p-4 block group">
                                    <img class="w-full rounded-md" src="images/landing/apps/inbox.jpg" srcset="images/landing/apps/inbox2x.jpg 2x" alt="Inbox / Mail">
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-inbox.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-inbox">React</a></li>
                                    </ul>
                                    <h6 class="font-bold text-lg/5.5 text-white pt-4 text-center">Inbox / Mail</h6>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white bg-opacity-10 rounded-xl p-4 block group">
                                    <img class="w-full rounded-md" src="images/landing/apps/file-manager.jpg" srcset="images/landing/apps/file-manager2x.jpg 2x" alt="File Manager">
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-file-manager.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-file-manager">React</a></li>
                                    </ul>
                                    <h6 class="font-bold text-lg/5.5 text-white pt-4 text-center">File Manager</h6>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white bg-opacity-10 rounded-xl p-4 block group">
                                    <img class="w-full rounded-md" src="images/landing/apps/calendar.jpg" srcset="images/landing/apps/calendar2x.jpg 2x" alt="Calendar">
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-calendar.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-calendar">React</a></li>
                                    </ul>
                                    <h6 class="font-bold text-lg/5.5 text-white pt-4 text-center">Calendar</h6>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4 lg:py-6">
                                <div class="relative bg-white bg-opacity-10 rounded-xl p-4 block group">
                                    <img class="w-full rounded-md" src="images/landing/apps/chats.jpg" srcset="images/landing/apps/chats2x.jpg 2x" alt="Chat / Messenger">
                                    <ul class="absolute rounded-xl flex items-center justify-center gap-3 inset-0 bg-slate-950 bg-opacity-80 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-chats.html">HTML</a></li>
                                        <li><a class="relative inline-flex items-center text-center align-middle text-base font-bold leading-4.5 rounded-md px-6 py-3 tracking-wide border border-primary-600 text-white bg-primary-600 hover:bg-primary-700 hover:border-primary-700 active:bg-primary-800 transition-all duration-300" target="_blank" href="/apps-chats">React</a></li>
                                    </ul>
                                    <h6 class="font-bold text-lg/5.5 text-white pt-4 text-center">Chat / Messenger</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-16 lg:py-24 xl:py-28 2xl:py-32 bg-slate-100 overflow-hidden" id="intro-features">
                    <div class="container px-4 md:px-2 lg:max-w-[980px] xl:max-w-[1200px] 2xl:max-w-[1320px]">
                        <div class="flex justify-center text-center pb-12 lg:pb-17">
                            <div class="w-full lg:w-9/12 xl:w-7/12">
                                <h2 class="text-2xl/tight sm:text-4xl/tight xl:text-5xl/tight font-bold text-slate-700 pb-3 sm:pb-5"> We have Impressive Features </h2>
                                <p class="text-slate-600 text-base/6 sm:text-xl/8">Unique business need a unique admin dashboard with unique features. And that's where you need to give Dashwind a try.</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-center -m-4">
                            <div class="w-full md:w-1/2 p-4">
                                <div class="bg-primary-700 rounded-xl flex flex-col justify-between text-center h-full shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)]">
                                    <div class="p-5 lg:p-10 pb-2 lg:pb-7">
                                        <h3 class="text-2xl lg:text-3xl xl:text-4xl/normal font-bold text-white pb-5">Quality &amp; Clean Code</h3>
                                        <p class="text-base lg:text-xl/8 text-slate-200">We create a bridge of clean code to connect with the UX design. You and your users will surely fall in love with the fresh design &amp; brilliant code we used to build this admin dashboard.</p>
                                    </div>
                                    <img src="images/landing/features/quality-clean-code.png" alt="">
                                </div>
                            </div>
                            <div class="w-full md:w-1/2 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)]">
                                    <div class="p-5 lg:p-10 pb-2 lg:pb-7">
                                        <h3 class="text-2xl lg:text-3xl xl:text-4xl/normal font-bold text-slate-700 pb-5">Responsive &amp; User-Friendly</h3>
                                        <p class="text-base lg:text-xl/8 text-slate-500">Its responsiveness and user-friendliness enable your customers to easily and quickly find the information they need and create a seamless experience on handheld devices.</p>
                                    </div>
                                    <img src="images/landing/features/responsive-user-friendly.png" alt="">
                                </div>
                            </div>
                            <div class="w-full md:w-1/2 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)]">
                                    <div class="p-5 lg:p-10 pb-2 lg:pb-7">
                                        <h3 class="text-2xl lg:text-3xl xl:text-4xl/normal font-bold text-slate-700 pb-5">Light and Dark Mode</h3>
                                        <p class="text-base lg:text-xl/8 text-slate-500">Dashwind offers the option to choose between dark and light modes, with every element of the user interface seamlessly adapting to the selected mode.</p>
                                    </div>
                                    <img src="images/landing/features/dark-light-mode.png" alt="">
                                </div>
                            </div>
                            <div class="w-full md:w-1/2 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[0px_4px_12px_4px_rgba(0,0,0,0.02)]">
                                    <div class="p-5 lg:p-10 pb-2 lg:pb-7">
                                        <h3 class="text-2xl lg:text-3xl xl:text-4xl/normal font-bold text-slate-700 pb-5">Explore all components</h3>
                                        <p class="text-base lg:text-xl/8 text-slate-500">The components provided by Dashwind are both flexible and powerful, offering an effortless level customization ease to cater to diverse needs.</p>
                                    </div>
                                    <img src="images/landing/features/componenets.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-16 lg:py-24 xl:py-28 2xl:py-32 bg-white overflow-hidden" id="">
                    <div class="container px-4 md:px-2 lg:max-w-[980px] xl:max-w-[1200px] 2xl:max-w-[1320px]">
                        <div class="flex justify-center text-center pb-12 lg:pb-17">
                            <div class="w-full lg:w-9/12 xl:w-7/12">
                                <h2 class="text-2xl/tight sm:text-4xl/tight xl:text-5xl/tight font-bold text-slate-700 pb-3 sm:pb-5"> This Is What Professionals Needs </h2>
                                <p class="text-slate-600 text-base/6 sm:text-xl/8">Create your web application amazing and more professional with this super user-friendly dashboard template. DashWind comes with all essential features that always you or your developers looking for.</p>
                            </div>
                        </div>
                        <div class="flex flex-wrap justify-center -m-4">
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/tailwind.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3">Tailwind</h6>
                                        <p class="text-lg text-slate-500">Built on top of awesome Tailwind latest 3+ version.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/rtl.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3">RTL Layout</h6>
                                        <p class="text-lg text-slate-500">Flawless Flow: Empowering Content with Effortless RTL Support</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/icons.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3">Handmade Icons</h6>
                                        <p class="text-lg text-slate-500">Eye-catching and hand-crafted icons includes in design</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/screens.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3">Pre-Built Screens</h6>
                                        <p class="text-lg text-slate-500">Comes with a huge collection of pre-built pages &amp; screens.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/components.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3">Limitless Components</h6>
                                        <p class="text-lg text-slate-500">It’s includes 20+ components to power your application.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/no-jquery.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3">No jQuery Dependency</h6>
                                        <p class="text-lg text-slate-500">No longer have jQuery as a dependency and using Vanilla JavaScript.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/easy.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3">Easy Customizable</h6>
                                        <p class="text-lg text-slate-500">DashWind offers highly scalable and endless customization.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/support.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3">Premium Support</h6>
                                        <p class="text-lg text-slate-500">We offer six months of free support to every customer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
                                <div class="bg-white rounded-xl flex flex-col justify-between text-center h-full shadow-[-4px_-4px_24px_0px_rgba(192,192,192,0.16),4px_4px_24px_0px_rgba(192,192,192,0.12)]">
                                    <div class="p-8">
                                        <img class="h-[92px] mx-auto mb-6" src="images/landing/features-icons/updates.png" alt="">
                                        <h6 class="text-2xl font-semibold text-slate-700 pb-3"> Lifetime Updates</h6>
                                        <p class="text-lg text-slate-500">Every purchase entitled to free updates – for lifetime.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-16 lg:py-24 xl:py-28 2xl:py-32 bg-purple-100 overflow-hidden" id="">
                    <div class="container px-4 md:px-2 lg:max-w-[980px] xl:max-w-[1200px] 2xl:max-w-[1320px]">
                        <div class="flex flex-wrap justify-center -mx-8 -my-5">
                            <div class="w-full lg:w-1/2 px-8 py-5">
                                <div class="inline-block px-5 py-2 border-2 border-white bg-orange-600 text-white text-sm/5 font-bold rounded-full mb-3">Life-time purchase</div>
                                <h3 class="text-4xl md:text-6xl/tight lg:text-[64px]/[78px] font-bold text-slate-800 pb-3">Start creating a beautiful dashboard.</h3>
                                <p class="text-lg/7 lg:text-xl/8 text-slate-600">Use, by you or one client, in a single end product which end users can be charged for. The total price includes the item price and a buyer fee.</p>
                            </div>
                            <div class="w-full lg:w-1/2 px-8 py-5">
                                <div class="bg-white p-8 rounded-xl shadow-[4px_4px_36px_0px_rgba(192,192,192,0.16),_-4px_-4px_36px_0px_rgba(192,192,192,0.12)]">
                                    <div class="flex flex-wrap items-center justify-between border-b border-gray-200 pb-6">
                                        <h2 class="text-4xl md:text-5xl/tight xl:text-6xl/tight 2xl:text-[64px]/[84px] font-bold text-slate-800">$9</h2>
                                        <button class="flex items-center px-4 md:px-5 py-2 md:py-3 bg-primary-600 text-white hover:bg-primary-800 text-base/7 md:text-xl/8 rounded transition-all">
                                            <em class="text-xl/none lg:text-2xl/none ni ni-envato"></em>
                                            <span class="ms-2">Buy Dashwind</span>
                                        </button>
                                    </div>
                                    <ul class="pt-6 -my-1.5">
                                        <li class="flex py-1.5">
                                            <em class="bg-primary-100 h-6 w-6 my-1 flex justify-center items-center text-primary-600 rounded-full text-lg/none ni ni-check"></em>
                                            <span class="text-lg/7 lg:text-xl/8 text-slate-700 ms-3">One-Time Payment</span>
                                        </li>
                                        <li class="flex py-1.5">
                                            <em class="bg-primary-100 h-6 w-6 my-1 flex justify-center items-center text-primary-600 rounded-full text-lg/none ni ni-check"></em>
                                            <span class="text-lg/7 lg:text-xl/8 text-slate-700 ms-3">6 Months Support</span>
                                        </li>
                                        <li class="flex py-1.5">
                                            <em class="bg-primary-100 h-6 w-6 my-1 flex justify-center items-center text-primary-600 rounded-full text-lg/none ni ni-check"></em>
                                            <span class="text-lg/7 lg:text-xl/8 text-slate-700 ms-3">No Monthly Fees</span>
                                        </li>
                                        <li class="flex py-1.5">
                                            <em class="bg-primary-100 h-6 w-6 my-1 flex justify-center items-center text-primary-600 rounded-full text-lg/none ni ni-check"></em>
                                            <span class="text-lg/7 lg:text-xl/8 text-slate-700 ms-3">1000+ Custom Font Icon</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-16 lg:py-24 xl:py-28 2xl:py-32 bg-gray-950 overflow-hidden" id="">
                    <div class="container px-4 md:px-2 lg:max-w-[980px] xl:max-w-[1200px] 2xl:max-w-[1320px]">
                        <div class="flex flex-wrap justify-center -m-4">
                            <div class="w-full lg:w-9/12 p-4">
                                <div class="text-center">
                                    <h4 class="text-3xl/snug sm:text-4xl/snug xl:text-5xl/snug font-bold text-white pb-6">Build stunning dashboard applications with <span class="text-orange-600">dashwind</span> template.</h4>
                                    <p class="text-lg/7 lg:text-xl/8 font-normal text-white">Dashwind is a most developer-friendly &amp; highly customizable admin dashboard template based on Tailwind CSS &amp; Headless UI. It comes with lots of features that make development easier for you</p>
                                    <button class="mt-8 sm:mt-12 mx-auto flex items-center px-5 md:px-8 py-3 md:py-5 bg-primary-600 text-white hover:bg-primary-800 text-base rounded-xl transition-all">
                                        <em class="text-xl/none ni ni-cart"></em>
                                        <span class="ms-3">Purchase Now</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-7 bg-gray-1000 text-center">
                    <div class="container">
                        <p class="text-white text-sm sm:text-base/5.5">Copyright &copy; 2024, Dashwind. Template made by <a class="text-slate-200 hover:text-primary-600" href="https://softnio.com" target="_blank"> Softnio</a></p>
                    </div>
                </div><!-- .intro-footer -->
            </div>
        </div>
    </div><!-- root -->
    <div id="region" class="modal group fixed inset-0 flex items-center py-5 px-3 transition-all duration-500 opacity-0 invisible [&.show]:visible [&.show]:opacity-100 z-[5000]">
        <div class="modal-close absolute inset-0 bg-slate-700 bg-opacity-50"></div>
        <div class="modal-body bg-white dark:bg-gray-950 rounded-md w-full md:w-[720px] sm:w-[520px] mx-auto transition-transform delay-500 group-[.show]:delay-0 group-[.show]:duration-300 ease-out -translate-y-[30px] group-[.show]:translate-y-0">
            <button class="modal-close [&>*]:pointer-events-none absolute top-4 end-4 text-slate-500 hover:text-slate-700 dark:text-white">
                <em class="text-xl ni ni-cross"></em>
            </button>
            <div class="px-5 sm:px-6 py-5 sm:py-6 md:p-9">
                <h5 class="text-xl font-bold font-heading text-slate-700 dark:text-white mb-3 pe-6">Select Your Country</h5>
                <ul class="grid grid-flow-dense xs:grid-cols-2 md:grid-cols-3 gap-3">
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/arg.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Argentina</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/aus.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Australia</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/bangladesh.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Bangladesh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/canada.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Canada <small>(English)</small></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/china.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Centrafricaine</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/china.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">China</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/french.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">France</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/germany.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Germany</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/iran.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Iran</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/italy.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Italy</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/mexico.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">México</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/philipine.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Philippines</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/portugal.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Portugal</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/s-africa.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">South Africa</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/spanish.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Spain</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/switzerland.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">Switzerland</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/uk.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">United Kingdom</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center">
                            <img src="images/flags/english.png" alt="" class="w-5 me-3">
                            <span class="text-base text-slate-600 dark:text-slate-200">United State</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="assets/js/scripts.js?v110"></script>
    <script>
        document.querySelectorAll('.scroll-to-section').forEach(trigger => {
            trigger.onclick = function(e) {
                e.preventDefault();
                let hash = this.getAttribute('href').split('#').slice(1, 2);
                let target = document.querySelector(`#${hash}`);
                if (target) {
                    let headerOffset = 68;
                    let elementPosition = target.offsetTop;
                    let offsetPosition = elementPosition - headerOffset;
                    window.scrollTo({
                        top: offsetPosition,
                        behavior: "smooth"
                    });
                    let allLinks = document.querySelectorAll('.scroll-to-section');
                    allLinks.forEach(item => {
                        item.parentElement.classList.remove('active');
                    })
                    trigger.parentElement.classList.add('active')
                }
            };
        });
    </script>
</body>

</html>