{% extends 'adminpanel/index.html' %}
{% block content %}
<div class="wlsm-main-header card col">
	<div class="school_header">
		<h1 class="h3 text-center">
			<i class="fa fa-graduation-cap text-light"></i>
			{{skool}}<small class="wlsm_text_secondary">{{year}}</small>

					</h1>

			</div>

<div class="mt-3 text-center wlsm-section-heading-block">
			<span class="wlsm-section-heading-box">
				<span class="wlsm-section-heading">
					Promote Students
				</span>
			</span>
     </div>
    </div>
  <div class="col-11">
      <br>

<div class="container">
<table class="table">
<tr>
    <td>
<form name="form1" id="form1"  data-section-url = "{% url 'ajax_load_section' %}" method="POST">
        {% csrf_token %}
    <label class="form-label">School Name :</label>
    <select name="schoolname1" class="form-control">
        <option value="{{sdata.id}}">{{sdata.name}}</option>
    </select><br>
    <label class="form-label">Current Year:</label>
    <select name="currentyear1" class="form-control">
         <option value="{{year.id}}">{{year}}</option>
    </select><br>
    <label class="form-label">Class:</label>
    <select name="classname1" id="class_name1" class="form-control">
         <option value="" selected>........................</option>
        {% for data in cls%}
        <option value="{{data.id}}">{{data.name}}</option>
        {% endfor %}
    </select><br>
    <label class="form-label">Section :</label>
    <select id="secs1" name="secsname1" class="form-control">

    </select><br><br>
   </td>
<td>
    <label class="form-label">School Name :</label>
    <select name="schoolname2" class="form-control">
        <option value="{{sdata.id}}">{{sdata.name}}</option>
    </select><br>
    <label class="form-label">Promote Year:</label>
    <select name="acadyear2" class="form-control">
         <option value="" selected>........................</option>
        {% for yr in year2 %}
         <option value="{{yr.id}}">{{yr.acad_year}}</option>
        {% endfor %}
    </select><br>
    <label class="form-label">Class:</label>
    <select name="classname2"  id="class_name2" class="form-control">
        <option value="" selected>........................</option>
        {% for data in cls%}
        <option value="{{data.id}}">{{data.name}}</option>
        {% endfor %}
    </select><br>
    <label class="form-label">Section :</label>
    <select id="secs2"  name="secsname2" class="form-control">

    </select><br><br>
</td></tr>
    <tr>
        <td colspan="2" align="center">
    <button type="submit" class="btn btn-primary">Promote</button>
    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
    </tr></td>
<script type='text/javascript'  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function(){
    $("#class_name1").change(function(){
    var url = $("#form1").attr("data-section-url");
     var classId = $(this).val();
        $.ajax({
        url: url,
        data: {
          'Class_Id': classId
        },
        success: function (data) {
          $("#secs1").html(data);
        }
      });
         });
           $("#class_name2").change(function(){
    var url = $("#form1").attr("data-section-url");
     var classId = $(this).val();
        $.ajax({
        url: url,
        data: {
          'Class_Id': classId
        },
        success: function (data) {
          $("#secs2").html(data);
        }
      });
         });

});
</script>
</form>


</table>
</div>

  </div>



{% endblock %}

