<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Allocated</title>
</head>
<body>
<table>
  <tr>
    <th>Teacher Name</th>
    <th>Class</th>
    <th>Section</th>
    <th>Subject</th>
    <th>Hours Per week</th>
  </tr>
  {% if data %}
  {% for dt in data %}
  <tr>
      <td>{{dt.teacher}}</td>
      <td>{{dt.section.class_sec_name}}</td>
      <td>{{dt.section}}</td>
      <td>{{dt.subject}}</td>
      <td>{{dt.hours_per_week}}</td>




  </tr>
  {% endfor %}
  {% else %}
    <tr>
        <td colspan="4">No data found</td>
    </tr>
    {% endif %}
</table>
</body>
</html>