{% extends "panel/index.html" %}
{% block content %}

<div class="container mt-4">

    <div class="card shadow-lg rounded-4">

        <div class="card-header text-white text-center"
             style="background: linear-gradient(45deg,#1e3c72,#2a5298); height:70px;">

            <div class="card-title text-center">
                <h5>
                    <span class="badge bg-light text-dark">
                        Statutory Settings (PF / ESI)
                    </span>
                </h5>
            </div>

        </div>

        <div class="card-body">

            {% if settings %}

            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead style="background-color:#212529; color:white;">
                        <tr>
                            <th>PF Employee %</th>
                            <th>PF Employer %</th>
                            <th>PF Basic Limit</th>
                            <th>ESI Employee %</th>
                            <th>ESI Employer %</th>
                            <th>ESI Gross Limit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ settings.pf_employee_percent }}</td>
                            <td>{{ settings.pf_employer_percent }}</td>
                            <td>{{ settings.pf_basic_limit }}</td>
                            <td>{{ settings.esi_employee_percent }}</td>
                            <td>{{ settings.esi_employer_percent }}</td>
                            <td>{{ settings.esi_gross_limit }}</td>
                            <td>
                                 <a href="{% url 'statutory_settings_edit' %}"
                                   class="btn btn-primary btn-sm">
                                   Edit
                                </a>
                                <a href="{% url 'statutory_settings_delete' %}"
                                   class="btn btn-danger btn-sm">
                                   Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% else %}

            <div class="text-center">
                <a href="{% url 'statutory_settings_add' %}"
                   class="btn btn-primary">
                    Add Statutory Settings
                </a>
            </div>

            {% endif %}

        </div>

    </div>

</div>

{% endblock %}