{% extends 'studentportal/index.html' %}
{% block content %}
<div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;
                </span> Fee Invoice
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
{% if data %}
<div class="table-responsive">
  <table class="table table-bordered">
      <thead class="table-dark" align="center">
    <tr>
      <th>Invoice Title </th>
      <th>Invoice Number </th>
      <th>Student Name</th>
      <th>Class</th>
      <th>Invoice Date </th>
      <th>Amount</th>
      <th>Due Amount</th>
      <th>Status</th>
       <th>Action</th>
    </tr>
      </thead>
    <tbody>
  <br>
   {% for frm in data %}
    <tr align="center">
      <td>{{frm.fee_cat.invoice_title}}</td>
      <td>{{frm.id}}</td>
      <td>{{frm.stud_name.first_name}}</td>
      <td>{{frm.class_name.name}}</td>
      <td>{{frm.fee_cat.issued_date}}</td>
      <td>{{frm.fee_cat.fee_amount}}</td>
      <td>{{frm.due_amt}}</td>
       <td>{{frm.status}}</td>
        <td>

          <form action="{% url 'addfeereciept' frm.id %}"  class="d-inline">
              {% csrf_token %}

               <input type="submit" class="btn btn-success" value="Pay">
          </form>
      </td>
    </tr>

   {% endfor %}
  </tbody>
</table>
{% else %}
      <div class="alert alert-danger" role="alert">
No Record  are available to Show
      </div>

{% endif %}

{% endblock %}