{% extends 'studentportal/index.html' %}
{% block content %}
<div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;
                </span> Fee Receipts
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
{% if data %}
<div class="table-responsive">
  <table class="table table-bordered">
  <thead class="table-dark" align ="center">
    <tr>
      <th>Student Name </th>
      <th>Reciept Date </th>
      <th>Reciept Invoice</th>
      <th>Payment Type</th>
      <th>Total</th>
      <th>Paid Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
   {% for frm in data %}
    <tr align="center">
      <td>{{frm.reciept_inv.stud_name}}</td>
      <td>{{frm.reciept_date}}</td>
      <td>{{frm.reciept_inv}}</td>
      <td>{{frm.payment_type}}</td>
      <td>{{frm.total}}</td>
      <td>{{frm.paid_amt}}</td>

        <td>

          <form action="{% url 'student_reprint_reciept' frm.id %}" method="" class="d-inline">
              {% csrf_token %}

               <input type="submit" class="btn btn-primary" value="Re-Print Reciept">
          </form>
      </td>
    </tr>

   {% endfor %}
  </tbody>
</table>
{% else %}
      <div class="alert alert-danger" role="alert">
No Record  are available to Show
</div>

{% endif %}
{% endblock %}



