{% extends 'adminpanel/index.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-4 display-6">Visitor Details</h1>
        <div class="row mt-4">
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-sm-4 h4">Photo:</dt>
                    <dd class="col-sm-8">
                        {% if data.photo %}
                            <img src="{{ MEDIA_URL }}{{ data.photo.url }}" alt="Visitor Photo" class="img-fluid rounded">
                        {% endif %}
                    </dd>
                    <dt class="col-sm-4 h4">Name:</dt>
                    <dd class="col-sm-8 h5">{{ data.name }}</dd>





                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-sm-4 h4">Phone:</dt>
                    <dd class="col-sm-8 h5">{{ data.phone }}</dd>

                    <dt class="col-sm-4 h4">Email:</dt>
                    <dd class="col-sm-8 h5">{{ data.email }}</dd>

                     <dt class="col-sm-4 h4">Company:</dt>
                    <dd class="col-sm-8 h5">{{ data.company }}</dd>

                    <dt class="col-sm-4 h4">Address:</dt>
                    <dd class="col-sm-8 h5">{{ data.address }}</dd>

                    <dt class="col-sm-4 h4">Purpose:</dt>
                    <dd class="col-sm-8 h5">{{ data.purpose }}</dd>

                    <dt class="col-sm-4 h4">Meeting Person:</dt>
                    <dd class="col-sm-8 h5">{{ data.meeting_person }}</dd>

                    <dt class="col-sm-4 h4">Check-in Time:</dt>
                    <dd class="col-sm-8 h5">{{ data.check_in_time }}</dd>

                    <dt class="col-sm-4 h4">Check-out Time:</dt>
                    <dd class="col-sm-8 h5">{{ data.check_out_time }}</dd>
                </dl>
            </div>
        </div>
    </div>

    <style>
        /* Custom CSS styles */
        .container {
            margin-top: 50px;
        }

        h1, h4, h5 {
            text-align: center;
            color: #333;
        }

        dt {
            font-weight: bold;
            color: #777;
            margin-top: 10px;
        }

        dd {
            margin-bottom: 10px;
        }

        .img-fluid.rounded {
            margin-right: 20px;
        }
    </style>
{% endblock %}
