{% extends 'panel/index.html' %}
{% block content %}

<style>
    /* General Typography */
    h1, h3, h5, th, td {
        font-family: 'Roboto', sans-serif;
    }

    /* Card Layout - full width look */
    .col-lg-12.grid-margin.stretch-card {
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .card {
        border: none;
        box-shadow: 0 4px 12px rgba(0,0,0,0.08);
        border-radius: 12px;
        overflow: hidden;
        margin: 0;
    }

   /* ===== TITLE BAR (Gradient + Badge) ===== */
.card-title {
    background: linear-gradient(90deg, #005C97, #363795);
    padding: 4px  !important;
    border-radius: 20px 20px 0 0;
}

.card-title h5 {
    margin: 0;
    font-size: 17px;                  /* reduced */
    font-weight: 500;

}

.card-title span.badge {
    background: #f8f9fa;
    color: #000;
    font-size: 13px;                  /* reduced badge font */
    padding: 4px 20px;                /* reduced badge padding */
    border-radius: 6px;
}


    /* Table Styling */
    .table {
        margin: 0;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 6px;
    }

    .table thead {
        background-color: #343a40;
        color: white;
    }

    .table-dark th {
    background-color: #212529 !important;
    color: #fff !important;
    padding-top: 6px !important;    /* reduced top padding */
    padding-bottom: 6px !important; /* reduced bottom padding */
    font-size: 14px !important;
    vertical-align: middle;
    text-align: center;
}


    td {
        background-color: #ffffff;
        vertical-align: middle;
        font-size: 15px !important;
        padding: 10px 10px !important;
        border: none;
    }

    tr {
        transition: all 0.2s ease;
    }

    tr:hover td {
        background-color: #f6f8ff;
    }

    /* Buttons */
    .btn {
        padding: 6px 14px;
        font-size: 14px;
        border-radius: 6px;
    }

    .btn-info {
        background-color: #17a2b8;
        border: none;
    }

    .btn-info:hover {
        background-color: #138496;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
    }

    .btn-success:hover {
        background-color: #218838;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0056d2;
    }

    .btn-danger {
        background-color: #dc3545;
        border: none;
    }

    .btn-danger:hover {
        background-color: #b52a36;
    }

    /* Alert Styling */
    .alert {
        width: 95%;
        margin: 20px auto;
        font-size: 15px;
    }
    .search-row .form-control {
    height: 45px !important;
    font-size: 12px;
    border-radius: 8px;
    width:300px
}

.search-row .btn {
    min-width: 110px;
    height: 35px;
    font-size: 12px;
    border-radius: 4px;
}
</style>



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">

        <!-- Title -->
        <div class="card-title text-center">
            <h5><span class="badge bg-light text-dark">Visitors</span></h5>
        </div>
        <div class="container text-end">
            <a href="{% url 'add_visitor' %}" class="btn btn-primary btn-sm">New Visitor</a>
            </div>
        <!-- Search & Add Button -->
        <div class="search-row d-flex justify-content-between align-items-center">



            <form action="{% url 'visitors_search' %}" method="POST" class="d-flex gap-2">
                {% csrf_token %}
                <select name="searchby" id="searchby" class="form-control">
                    <option value="compname">Company Name</option>
                    <option value="vistname">Visitor Name</option>
                </select>

                <input type="search"
                       placeholder="Search here"
                       name="searched"
                       required
                       class="form-control">

                <button type="submit" class="btn btn-success">Search</button>

                <a href="{% url 'visitors_list' %}"
                   class="btn btn-danger">Clear</a>
            </form>
        </div>

        <!-- Table -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Check In</th>
                            <th>Check Out</th>
                            <th>Meeting Person</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data %}
                            {% for visitor in data %}
                            <tr>
                                <td>{{visitor.id}}</td>
                                <td>{{visitor.name}}</td>
                                <td>{{visitor.company}}</td>
                                <td>{{visitor.check_in_time}}</td>
                                <td>{{visitor.check_out_time}}</td>
                                <td>{{visitor.meeting_person}}</td>

                                <td>
                                    <div class="dropdown">
                                       <button class="btn p-0" data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-more-2-line"></i></button>

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'view_visitor' visitor.id %}">
                                                <i class="ri-eye-line me-1">&nbsp;View</i>
                                            </a>
                                            <a class="dropdown-item" href="{% url 'update_visitor' visitor.id %}">
                                                <i class="ri-pencil-line me-1">&nbsp;Edit</i>
                                            </a>

                                            {% if request.user.groups.all.0.name|lower in "admin superadmin" %}
                                             <a class="dropdown-item" href="{% url 'delete_visitor' visitor.id %}">
                                                <i class="ri-delete-bin-line">&nbsp;Delete</i>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <!-- Delete Modal -->
                                    <div class="modal fade" id="deleteModal{{visitor.id}}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete Visitor</h5>
                                                    <button type="button" class="btn-close" data-dismiss="modal"></button>
                                                </div>

                                                <div class="modal-body text-center">
                                                    <h5 class="text-danger">Are you sure you want to delete {{visitor.name}}?</h5>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                    {% if request.user.groups.all.0.name|lower in "admin superadmin" %}
                                                    <form action="{% url 'delete_visitor' visitor.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                                    </form>
                                                    {% endif %}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="7">
                                <div class="alert alert-danger mb-0">No records available.</div>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock %}
