{% extends 'panel/index.html' %}

{% block content %}
<style>
 .text-end{
    padding:20px;
    }
</style>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-title text-center">
            <h5 class="mb-0">New Category</h5>
        </div>
      <div class="text-end">
          <a href="{% url 'category_create' %}" class="btn btn-sm btn-primary">New Category</a>
     </div>

<br>
<div class="card-body">
<table class="table">
  <thead class="table-dark" align ="center">
    <tr>

      <th>S.No</th>
      <th>Category Name</th>
      <th> Category ID</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% if data %}
   {% for cat in data %}
    <tr align="center">
      <td>{{forloop.counter}}</td>
      <td>{{cat.name}}</td>
      <td>{{cat.id}}</td>
      <td>
           <form action="{% url 'category_update' cat.id %}" method="" class="d-inline">
              {% csrf_token %}
               <button type="submit" class="btn btn-info">Edit</button>

          </form>
          {% if request.user.groups.all.0.name == "admin" or request.user.groups.all.0.name == "superadmin" or request.user.groups.all.0.name == "Accounts" %}
          <form action="{% url 'category_delete' cat.id %}" method="" class="d-inline">
              {% csrf_token %}
               <button type="submit" class="btn btn-danger">Delete</button>

          </form>
            {% endif %}
      </td>
    </tr>
   {% endfor %}
  {% else %}
  <tr><td>
      <div class="alert alert-danger" role="alert">
No Record  are available to Show
</div>
</td></tr>
{% endif %}
  </tbody>
</table>


</div>
    </div>
</div>
{% endblock %}
