{% extends 'panel/index.html' %}

{% block content %}
<style>
  .text-end{
     padding:20px;
    }
</style>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-title text-center">
            <br>
            <h5 class="mb-0"> New Group</h5>
        </div>
        <div class="card-body">
            <div class="text-end">
                <form action="{% url 'group_set_create' %}" method="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info" >New Group</button>
                </form>
            </div>

<table class="table">
  <thead class="table-dark" align ="center">
    <tr>
      <th>Group Name</th>
      <th>Academic Year</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  {% if data %}
   {% for set in data %}
    <tr align="center">
      <td>{{set.name}}</td>
      <td>{{set.acad_year}}</td>
                  <td>
          <form action="{% url 'product_set_update' set.id %}" method="" class="d-inline">
              {% csrf_token %}
               <button type="submit" class="btn btn-info">Edit</button>
          </form>
{% if request.user.groups.all.0.name == "admin" or request.user.groups.all.0.name == "superadmin" %}
            <form action="{% url 'product_set_delete' set.id %}" method="" class="d-inline">
              {% csrf_token %}
               <button type="submit" class="btn btn-danger">Delete</button>
          </form>
{% endif %}
        </td>
    </tr>
   {% endfor %}
  {% else %}
  <tr><td colspan="3" class="text-center">
      <div class="alert alert-danger" role="alert">
No Record  are available to Show
</div>
      </td></tr>
{% endif %}
  </tbody>
</table>

{% endblock %}

