{% extends 'panel/index.html' %}

{% block content %}
<div class="mt-3 text-center wlsm-section-heading-block">
			<span class="wlsm-section-heading-box">
				<span class="wlsm-section-heading">
					Enterprises
				</span>
			</span>
     <span class="float-md-right">
					<a href="{% url 'addschool' %}" class="btn btn-sm btn-outline-light">
                        New Institution</a>
     </span>

</div>


<br>
{% if data %}
<table class="table">
  <thead class="table-dark" align ="center">
    <tr>
      <th>Enterprise Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Status</th>
        <th>Action</th>

    </tr>
  </thead>

  <tbody>
   {% for sch in data %}

    <tr align="center">

      <td>{{sch.name}}</td>
      <td>{{sch.phone}}</td>
      <td>{{sch.email}}</td>
      <td>{{sch.isactive}}</td>

      <td>
          <form action="{% url 'updateschool' sch.id %}"  method="" class="d-inline">
              {% csrf_token %}

               <input type="submit" class="btn btn-warning" value="Update">
          </form>
<!--          <a href ="{% url 'updateschool' sch.id %}">Update</a>-->

{% if request.user.groups.all.0.name == "admin" or request.user.groups.all.0.name == "superadmin" %}
          <form action="{% url 'delschool' sch.id %}" method="" class="d-inline">
              {% csrf_token %}


               <input type="submit" class="btn btn-danger" value="Delete">
          </form>
 {% endif %}
      </td>
    </tr>
     {% endfor %}
  </tbody>
</table>

{% else %}
  <div class="alert alert-danger" role="alert">
No Record  are available to Show
</div>
{% endif %}

{% endblock content %}
