{% extends 'adminpanel/index.html' %}

{% block content %}
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>




<div class="text-danger bg-primary bg-light"><h2 align="center" style="color:red"><i class="fa-solid fa-school"></i>&nbsp;&nbsp;{{skool.name}}</h2></div><br>
<center><p class="h3 text-dark" >New Fee</p></center>

            <div class="row">
                <div class="col-sm">
                    <form id="addfee" action = "" method ="POST">
                         {% csrf_token %}
                    <label>Invoice Title : </label>{{form.invoice_title}}<br>
                    <label>Invoice Description  : </label>{{form.desc}}<br>
                    <label>Invoice Date  : </label>{{form.issued_date}}<br>
                    <label>Due Date  : </label>{{form.due_date}}<br>
                    <label>Class  : </label>{{form.iclass}}<br>

                    <label>School  : </label>{{form.fees_school}}<br>
                    <label>Fee Amount  : </label>{{form.fee_amount}}<br>

                    <label>Late Fee  : </label>{{form.latefee}}<br>
                    <label>Is-Active  : </label>{{form.isactive}}<br>

                         <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>

  </div>
<!--<script>-->
<!--    $("#id_iclass").change(function () {-->

<!--      var url = $("#addfee").attr("data-section-url");-->
<!--      var professionId = $(this).val();-->
<!--      console.log(professionId);-->


<!--      $.ajax({-->
<!--        url: url,-->
<!--        data: {-->
<!--          'profession': professionId-->
<!--        },-->
<!--        success: function (data) {-->
<!--          $("#id_student_name").html(data);-->
<!--        }-->
<!--      });-->

<!--    });-->
<!-- </script>-->


{% endblock %}